.list-container {
    margin: 10px;
}

.btn-primary {
    color: black;
    margin-right: 10px;
    text-align: center;
    width: 300px;
    background-color: Violet
}

.btn-primary:hover {
    color: DeepPink;
    background-image: none;
    background-color: transparent;
    border-color: DeepPink;
}

.btn-outline-primary {
    color: violet;
    background-image: none;
    background-color: transparent;
    border-color: violet;
}

.btn-outline-primary:hover {
    color: black;
    margin-right: 10px;
    text-align: center;
    background-color: DeepPink;
    border-color: DeepPink;
}

.delete:focus {
    outline: 3px solid DeepPink;
}

@media (max-width: 500px) {
    .btn-primary {
        font-size: small;
        width: 70%;
        height: 30px;
        padding: 3px;
    }
    .list-container,
    .btn {
        margin: 1px;
        padding: 2px
    }
}