<form class="form-inline my-2 my-lg-0">
    <label>
        <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj " aria-label="search"
            style="width: 300px;" #queryInput>
    </label>

    <button class="btn btn-outline-success my-2 my-sm-0 btn2" type="button " (click)="search(queryInput.value)">Search!</button>
</form>
<button class="btn btn-outline-success my-2 my-sm-0 btn2" type="button " (click)="sortName()">Sortuj po nazwie!</button>
<button class="btn btn-outline-success my-2 my-sm-0 btn2" type="button " (click)="sortDate()">Sortuj po dacie!</button>



<ng-container *ngIf="isHiddenBaseView">
    <h2 style="color: antiquewhite; text-align: center">List of posts</h2>
    <ul>
        <app-post-item *ngFor="let odd = odd; let myPost of myPosts | async" [myPost]="myPost" (delete)="onDelete($event)"> </app-post-item>
    </ul>
</ng-container>

<ng-container *ngIf="isHiddenSortDate">
    <h2 style="color: antiquewhite; text-align: center">Sortuj po dacie</h2>
    <ul>
        <app-post-item *ngFor="let odd = odd; let myPost of myPosts | async | orderBy:'date'" [ngClass]="{'odd-item':odd===true}" [myPost]="myPost" (delete)="onDelete($event)"> </app-post-item>
    </ul>
</ng-container>
<ng-container *ngIf="isHiddenSortTitle">
    <h2 style="color: antiquewhite; text-align: center">Posortowane po nazwie</h2>
    <ul>
        <app-post-item *ngFor="let odd = odd; let myPost of myPosts | async | orderBy:'title'" [ngClass]="{'odd-item':odd===true}" [myPost]="myPost" (delete)="onDelete($event)"> </app-post-item>
    </ul>
</ng-container>