div {
    position: absolute;
    padding: 1em;
    top: 60px;
}

form {
    margin: 50px;
    margin-bottom: 40px;
}

input {
    width: 400px;
}

h5 {
    color: azure;
}

.btn-outline-success {
    color: violet;
    border-color: violet;
    width: auto;
    margin: 10px;
    background-image: none;
    background-color: transparent;
    border-color: violet;
}

.btn-outline-success:hover {
    color: black;
    background-color: DeepPink;
    border-color: DeepPink;
}

@media (max-width: 500px) {
    .btn {
        font-size: small;
        width: (45%);
    }
    form {
        margin: 5px;
        margin-bottom: 4px;
    }
    ul {
        padding: 5px;
    }
}