form {
    margin: 50px;
    margin-bottom: 40px;
}

input {
    width: 400px;
}

h5 {
    color: azure;
}

.btn-outline-success {
    color: violet;
    border-color: violet;
    width: auto;
    margin: 10px;
    background-image: none;
    background-color: transparent;
    border-color: violet;
}

.btn-outline-success:hover {
    color: black;
    background-color: DeepPink;
    border-color: DeepPink;
}


/* zamykające się okno */

:root {
    --color-green-400: #53A318;
    --color-white: #FFFFFF;
    --color-gray-600: #707174;
    --color-gray-400: #A5A8AB;
    --color-gray-200: #D5D8DB;
    --color-black: #333333;
    --color-blue-600: #0076D6;
    --icon-size-xsmall: .75rem;
    --icon-size-small: 1rem;
    --icon-size-medium: 1.5rem;
    --space-8: .5rem;
    --space-12: .75rem;
    --space-16: 1rem;
    --space-24: 1.5rem;
    --border-width: 2px;
    --border-radius: 4px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
    margin: 0;
}

h3,
p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

a:link {
    color: var(--color-blue-600);
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

.title-medium {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: var(--space-8);
}

.title-small {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: var(--space-8);
}

.text-small {
    font-size: .875rem;
    line-height: 1.125rem;
    margin-bottom: var(--space-16);
}

.text-medium {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: var(--space-16);
}

.text-small {
    font-size: .875rem;
    line-height: 1.125rem;
}

.no-margin {
    margin: 0;
}

.flex-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.text-subdued {
    color: var(--color-gray-600);
}

.button-icon {
    color: var(--color-green-400);
    background-color: var(--color-white);
    border: var(--border-width) solid var(--color-green-400);
    border-radius: 50%;
    padding: var(--space-8);
}

.button-icon svg {
    display: block;
    width: var(--icon-size-medium);
    height: var(--icon-size-medium);
    fill: currentColor;
}

.button-close {
    color: var(--color-gray-600);
    border: 0;
    background-color: transparent;
    display: inline-block;
    padding: var(--space-12);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.button-close svg {
    display: block;
    fill: currentColor;
    width: var(--icon-size-small);
    height: var(--icon-size-small);
}

.button-cta {
    border: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: var(--color-green-400);
    color: var(--color-white);
    font-weight: 600;
    padding: var(--space-12) var(--space-24);
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.button-cta span {
    display: block;
    margin-right: var(--space-8);
}

.button-cta svg {
    display: block;
    fill: currentColor;
    width: var(--icon-size-xsmall);
    height: var(--icon-size-xsmall);
}

.overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: none;
}

.popover-container {
    position: absolute;
}

.popover,
.popover-multiple:before,
.popover-multiple:after {
    border: var(--border-width) solid var(--color-green-400);
    border-radius: var(--border-radius);
    padding: var(--space-24);
    background-color: var(--color-white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 20;
}

.popover-multiple:before,
.popover-multiple:after {
    content: "";
    display: block;
    border-color: var(--color-gray-200);
    border-width: 2px;
    box-shadow: none;
}

.popover-multiple:before {
    z-index: 15;
    margin: -42px 2% 0 2%;
}

.popover-multiple:after {
    z-index: 12;
    margin: -42px 4% 0 4%;
}

.has-pointer-top-right:after,
.has-pointer-top-right:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.has-pointer-top-right:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
    right: 12px;
}

.has-pointer-top-right:before {
    border-color: rgba(83, 163, 24, 0);
    border-bottom-color: #53A318;
    border-width: 11px;
    margin-left: -11px;
    right: 9px;
}


/* App-specific styles */

 :root {
    --popover-width: 430px;
}

.header {
    text-align: right;
    padding: var(--space-24);
}

.popover-container {
    right: var(--space-24);
    top: 84px;
    width: var(--popover-width);
}

.overlay-active .overlay {
    display: block;
}

.overlay-active .button-icon {
    position: relative;
    z-index: 20;
}

.overlay-active .popover-container {
    display: block;
    z-index: 20;
}

@keyframes myAnimation {
    0% {
        opacity: 1;
        transform: rotateX(0deg);
        /* rotateY(0deg) */
    }
    10% {
        opacity: 0.9;
        transform: rotateX(180deg);
        /* rotateY(180deg) */
    }
    20% {
        opacity: 0.8;
        transform: rotateX(0deg);
        /* rotateY(0deg) */
    }
    30% {
        opacity: 0.7;
        transform: rotateX(180deg);
        /* rotateY(180deg) */
    }
    40% {
        opacity: 0.6;
        transform: rotateX(0deg);
        /* rotateY(0deg) */
    }
    50% {
        opacity: 0.5;
        transform: rotateX(90deg);
        /* rotateY(90deg) */
    }
    60% {
        opacity: 0.4;
        transform: rotateX(0deg);
        /* rotateY(0deg) */
    }
    70% {
        opacity: 0.3;
        transform: rotateX(90deg);
        /* rotateY(0deg) */
    }
    80% {
        opacity: 0.2;
        transform: rotateX(0deg);
        /* rotateY(90deg) */
    }
    90% {
        opacity: 0.1;
        transform: rotateX(90deg);
        /* rotateY(0deg) */
    }
    100% {
        opacity: 0;
        transform: rotateX(0deg);
        /* rotateY(0deg) */
    }
}

.myelement {
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    width: var(--popover-width);
    right: var(--space-24);
    --space-8: .5rem;
    --space-12: .75rem;
    --space-16: 1rem;
    --space-24: 1.5rem;
}