<div class=container>
    <div class="main">
        <h2 style="text-align: center; color:antiquewhite">Dodaj post</h2>
        <form [formGroup]=" createPost " novalidate style="text-align: center; color:antiquewhite">
            <section>
                <div class="control "> <label>
                        Tytuł:
                        <input class="input is-info " type="text " placeholder="Plese type title "
                            formControlName="title" >
                        <p *ngIf="showErrors && createPost.get( 'title').errors?.minlength "
                            style="color:rgb(201, 42, 42);font-weight:bold; ">
                            Tytuł musi mieć conajmniej 5 znaków.
                        </p>
                    </label> </div>
            </section>
            <section>
                <label>Treść: <br>
                    <div class="control " >
                        <textarea class="textarea is-primary is-medium "
                            placeholder="Type the conten of your post here " formControlName="text"
                            ></textarea>
                    </div>
                    <p *ngIf="showErrors && createPost.get( 'text').errors?.minlength "
                        style="color:rgb(201, 42, 42);font-weight:bold; ">
                        Zawartość powinna mieć minimum 100 znaków.
                    </p>
                </label>
            </section>
            <button type="button" (click)="save() " class="btn btn-dark">Save</button>
        </form> <br>
        <div style="width: 100%; display:flex">
            <p *ngIf="postIsReady " style="width: 100%; align-items: center; justify-content: center;" class="alert alert-warning" role="alert">
                Post został dodany. Znajdzieszgo na liście po prawo.
            </p>
        </div>

    </div>
    <div class="aside">
        <app-post-title *ngFor="let myPost of myPosts | async | invert" [myPost]="myPost ">{{myPost.title}}
        </app-post-title>
    </div>

</div>