/* .container {} */

.nav {
    display: flex;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    position: fixed;
}

app-navigation {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 10%;
}

.mid {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 60px;
    width: 100%;
}

app-posts {
    background-color: rgb(117, 218, 209);
    position: relative;
    width: 75%;
    margin: 10px;
    padding: 0.5em;
}

app-aside {
    background-color: rgb(196, 135, 224);
    position: relative;
    width: 25%;
    min-height: 300px;
    padding: 0.5em;
    margin: 10px;
}

.foot {
    display: flex;
    align-self: end;
    height: max-content;
    position: absolute;
}

app-footer {
    width: 100%;
    align-content: flex-end;
    position: fixed;
    bottom: -20px;
    height: 10%;
    /* position: absolute;
    bottom: 0px */
}