<app-navigation>
</app-navigation>


<div class="mid">
    <app-posts></app-posts>
    <nav class="aside">
        <h1>Oto mój blog</h1>
        <p><strong>Opublikowano już na nim xxx postów.</strong></p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores excepturi blanditiis porro possimus molestias facilis? Sequi maxime, culpa fugit nobis nisi quo necessitatibus rerum fuga error ipsa reprehenderit itaque laboriosam tempora qui nihil
            quasi quia adipisci. Voluptatem sint explicabo qui. </p>
        <hr>
    </nav>
</div>

<span class="footer">
    <p>Autor: Beata Skoruś</p>
    <p>Data utworzenia: Maj 2020</p>
</span>