<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bgc fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Pokaż menu</button>
        <a class="navbar-brand" href="#"> <img src="../assets/logo.png" alt="Logo" style="height:30px;"> </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link" routerLink="/">Strona główna <span class="sr-only">(current)</span></a> </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/create">Napis post</a> </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/list">Wszystkie posty</a> </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>

<span class="footer">
        <p>Autor: Beata Skoruś</p>
        <p>Data utworzenia: Maj 2020</p>
    </span>