a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    margin-bottom: 2px;
}

a:hover {
    outline: darkslategray
}

@media (max-width: 1000px) {
    a {
        font-size: 0.7em;
        margin-bottom: 2px;
    }
}

@media (max-width: 768px) {
    div:after {
        display: grid;
        clear: both;
    }
    .item {
        float: left;
        width: 33.33%;
        padding: 3px;
    }
}